body {
	background-color: lightgray;
}
.titulo-principal {
	text-align: center;
}
.contenido-principal .contenido {
	width: 90%;
	margin: 0 auto;
}
.contenido-principal .encabezado {
	color: white;
	background-color: grey;
	padding: 5px 10px;
}
.contenido-principal .contenido-imagen {
	float: left;
	border: 1px solid red;
}

.contenido-principal .contenido-texto {
	border: 1px solid red;
	margin-left: 120px;
}
.contenido-principal .contenido-texto p {
	text-indent: 20px;
	text-align: justify;
}
.contenido-principal .contenido-imagen img {
	height: 160px;
}
